#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
  chosen {
    zmk,matrix_transform = &default_transform;
    //zmk,matrix_transform = &five_column_transform;
  };
};

// Layers
#define DEFAULT 0  // Typing words and stuff
#define SPECIAL 1  // Typing weird characters
#define NAVI    2  // Arrows, Paging and arabic numbers
#define FUNC    3  // Microsoft loves those
#define BLUE    4  // ZMK BLE controls ("Look ma, no cables!")

// Modifiers + Hotkeys
#define TMUX LC(BSLH)

// Properties
&lt {
        //retro-tap; // FIXME: LGUI+TAB for tab switching works. But LGUI+mouseclick does not work correctly when retro-tap is active.
        quick-tap-ms = <199>;  // https://github.com/zmkfirmware/zmk/issues/1185
};
&mt {
        //retro-tap; // FIXME: LGUI+TAB for tab switching works. But LGUI+mouseclick does not work correctly when retro-tap is active.
        quick-tap-ms = <199>;  // https://github.com/zmkfirmware/zmk/issues/1185
};

// Keymap
/ {

        behaviors {
            // Tap-dance for switching between SHIFT/CAPSLOCK:
            td0: tap_dance_0 {
                compatible = "zmk,behavior-tap-dance";
                label = "TAP_DANCE_0";
                #binding-cells = <0>;
                tapping-term-ms = <300>;
                bindings = <&kp LSHIFT>, <&kp CAPSLOCK>;
            };
        };

        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        bindings = <
   &lt BLUE ESC  &kp Q  &kp W  &kp E  &kp R  &kp T                    &kp Y  &kp U  &kp I      &kp O    &kp P     &kp BSPC
   &lt NAVI TAB  &kp A  &kp S  &kp D  &kp F  &kp G                    &kp H  &kp J  &kp K      &kp L    &kp SEMI  &kp ENTER
   &td0          &kp Z  &kp X  &kp C  &kp V  &kp B                    &kp N  &kp M  &kp COMMA  &kp DOT  &kp FSLH  &kp RSHFT

                               &kp LCTRL  &mt LGUI SPACE  &kp LALT    &kp TMUX  &lt SPECIAL SPACE  &lt FUNC F1
                        >;
                };
                special_layer {
                        bindings = <
   &kp ESC    &kp EXCL  &kp AT     &kp HASH  &kp DLLR  &kp PRCNT    &kp CARET  &kp AMPS  &kp ASTRK  &kp MINUS  &kp PLUS  &kp DEL
   &kp TAB    &none     &kp UNDER  &kp LBRC  &kp LPAR  &kp SQT      &kp DQT    &kp RPAR  &kp RBRC   &kp MINUS  &kp PIPE  &kp ENTER
   &kp LSHFT  &none     &none      &kp LT    &kp LBKT  &kp TILDE    &kp GRAVE  &kp RBKT  &kp GT     &none      &kp BSLH  &kp RSHFT

                                   &kp LCTRL  &kp LGUI  &kp LALT    &none  &none  &none
                        >;
                };
                navi_layer {
                        bindings = <
    &none      &kp PG_UP  &kp UP    &kp PG_DN  &none  &none                 &kp PLUS   &kp N7  &kp N8  &kp N9  &kp DEL    &kp BSPC
    &none      &kp LEFT   &kp DOWN  &kp RIGHT  &none  &none                 &kp EQUAL  &kp N4  &kp N5  &kp N6  &kp ASTRK  &kp ENTER
    &kp LSHFT  &none      &none     &none      &none  &none                 &kp MINUS  &kp N1  &kp N2  &kp N3  &kp FSLH   &kp RSHFT

                                    &kp C_VOL_DN &kp C_VOL_UP &kp K_MUTE    &kp SPACE  &kp N0  &kp DOT
                        >;
                };
                func_layer {
                        bindings = <
   &kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &kp F6    &kp F7  &kp F8  &kp F9  &kp F10  &kp F11  &kp F12
   &none   &none   &none   &none   &none   &none     &none   &none   &none   &none    &none    &none
   &none   &none   &none   &none   &none   &none     &none   &none   &none   &none    &none    &none

                           &none  &none  &none       &none  &none  &none
                        >;
                };
                bt_layer {
                        bindings = <
   &none        &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &none        &none  &none  &none  &none  &none
   &none        &none         &none         &none         &none         &none           &none        &none  &none  &none  &none  &none
   &bootloader  &reset        &none         &none         &none         &bt BT_CLR      &bootloader  &reset &none  &none  &none  &none

                              &out OUT_TOG  &out OUT_USB  &out OUT_BLE                  &none  &none  &none 
                        >;
                };
        };
};
